body {
    font-family: Arial, sans-serif;
    margin: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: all 0.3s;
}

.autocomplete-container {
    position: relative;
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: solid 1px #ccc;
    padding: 10px;
    border-radius: 10px;
}

.resultsDiv{
    border: solid 1px #ccc;
    padding: 10px;
    width: 20%;
    min-width: 200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;

}

input {
    width: 93%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: auto;
    text-align: center;
}

input::placeholder {
    color: var(--placeholder-color, gray);
}

.time{
    max-width: fit-content;
    min-width: 50px;
}

.set-time-div{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: auto;
    align-items: center;
    text-align: right;
}

.timeLabel{
    text-align: right;
    min-width: 100px;
}

.dropdown {
    position: absolute;
    top: 38%;
    width: 100%;
    border: 1px solid #ccc;
    border-top: none;
    background: white;
    max-height: 200px;
    overflow-y: auto;
    display: none;
    z-index: 1000;
}
.dropdown div {
    padding: 10px;
    cursor: pointer;
}
.dropdown div:hover {
    background: #f0f0f0;
    color: black;
}
button{
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    width: 50%;
    margin: auto;
    margin-top: 5px;
    transition: all 0.3s;
}

.reset{
    background-color: #f44336;
}

.reset:hover{
    background-color: #f2857d;
}

button:hover {
    background-color: #9bdb9f;
}

#error{
    color: red;
    font-size: 16px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }